* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #003d35;
    padding: 15px;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 40px;
}

header .siged h1 {
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
}

main {
    padding: 30px;
    background-color: #f3f3f3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #003d35;
    text-align: center;
    margin-bottom: 20px;
}

.consulta-titulo h3 {
    color: #003d35;
    font-size: 22px;
    margin-bottom: 15px;
}

.titulo {
    background-color: #e4f1f1;
    padding: 15px;
    border-radius: 5px;
}

.titulo h4 {
    color: #003d35;
    font-size: 20px;
    margin-bottom: 10px;
}

.detalles p {
    font-size: 16px;
    color: #003d35;
    margin: 5px 0;
}

footer {
    background-color: #003d35;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
